manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    cores = '4'
    memory = '4'
    help = false
    chunks = '0'

    // folder structure
    output = 'results'
    blastdir = '01-Blast'

    // inputs
    fasta = ''
    db = ''
}

profiles {
    standard {

    }

    conda { 
        //process.executor = 'conda'
        docker.enabled = false
        process {
            withLabel: blast { cpus = params.cores; memory = params.memory; conda = 'bioconda::blast=2.6.0' }
        }  
    }
  
    docker {
        docker.enabled = true 
        process {
            withLabel: blast { cpus = params.cores; memory = params.memory; container = 'nanozoo/blast:2.9.0--cbbc56f' }
        }  
    }

    singularity { 
        singularity.enabled = true 
    }
}
