manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    cores = '4'
    help = false
    chunks = '0'

    // folder structure
    output = 'results'
    blastdir = '01-Blast'

    // inputs
    fasta = ''
    db = ''
}

docker { enabled = true }
//conda {
//    blast.conda = 'bioconda::blast=2.6.0'
//}

/*profiles {

    standard {
        process.executor = 'local'
        docker { enabled = false }
    }

    conda {
        docker { enabled = false }
        process {
            withLabel: blast { conda = 'bioconda::blast=2.6.0' } 
        }
    }

    docker {
        docker.enabled = true
    }
}
*/
