workDir = "/tmp/nextflow-work-$USER"
bucketDir = 'gs://matrice/nextflow-workdir'

manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    cores = '4'
    memory = '4'
    help = false
    chunks = '0'

    // folder structure
    output = 'results'
    blastdir = '01-Blast'

    // inputs
    fasta = ''
    db = ''
}

google {  project = 'nextflow-auto-255816'
          zone = 'europe-west1-b' }

//cloud { preemptible = true }


profiles {
    standard {
        process.executor = 'local'
    }

    conda { 
        process.executor = 'local'
        docker.enabled = false
        process {
            withLabel: blast { cpus = params.cores; memory = params.memory; conda = 'bioconda::blast=2.6.0' }
        }  
    }
  
    docker {
        docker.enabled = true 
        process {
            withLabel: blast { cpus = params.cores; memory = params.memory; container = 'nanozoo/blast:2.9.0--cbbc56f' }
        }  
    }

    singularity { 
        singularity.enabled = true 
    }

    cloud {
        process.executor = 'google-pipelines'
        docker.enabled = true 
        cloud.preemptible = true
        process {
            withLabel: blast { cpus = 4; memory = '2 GB'; container = 'nanozoo/blast:2.9.0--cbbc56f' }
        }  
    }
}
